<header class="flex justify-around items-center h-[5rem]">
    <div class="flex items-center">
        
        <h2 class="brand">airbnb</h2>
    </div>
    <div class="flex gap-2 items-center">
        <button class="btn btn-tab">Home</button>
        <button class="btn btn-tab">Experience</button>
    </div>
    <nav class="flex items-center">
        <ul class="flex gap-4 justify-center items-center">
            <li class="flex items-center"><a href="#">Airbnb your home</a></li>
            <li class="flex items-center"><a href="#"> <fa-icon [icon]="['fas', 'globe']"></fa-icon></a></li>
        </ul>
    </nav>
</header>